# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [ ]:
import pandas as pd
import numpy as np

#### Описание данных

В папке Data (https://github.com/hse-ds/iad-intro-ds/blob/master/2023/homeworks/Data.zip) находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [ ]:
!wget https://github.com/hse-ds/iad-intro-ds/raw/master/2023/homeworks/Data.zip #скачала файл с данными
!unzip /content/Data.zip #извлекла данные из файла

df = pd.DataFrame()
for i in range(0, 10): #благодаря циклу читаем каждый файл с одним индексом, пересекаем две таблицы, получая единую с инфой и оценками, потом склеиваем полученную таблицу с сформированной до того, проходя по всем файлам (10 кругов) получаем полный датасет
    students_info = pd.read_csv(f'/content/Data/Students_info_{i}.csv')
    students_marks = pd.read_csv(f'/content/Data/Students_marks_{i}.csv')

    merged_data = pd.merge(students_info, students_marks, on='index') #пересечение по столбцу с индексами
    df = pd.concat([df, merged_data], ignore_index=True) #склеивание таблиц с игнорированием индексов)
df

--2024-10-27 18:17:02--  https://github.com/hse-ds/iad-intro-ds/raw/master/2023/homeworks/Data.zip
Resolving github.com (github.com)... 20.27.177.113
Connecting to github.com (github.com)|20.27.177.113|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2023/homeworks/Data.zip [following]
--2024-10-27 18:17:02--  https://raw.githubusercontent.com/hse-ds/iad-intro-ds/master/2023/homeworks/Data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16727 (16K) [application/zip]
Saving to: ‘Data.zip.1’

Data.zip.1          100%[===================>]  16.33K  --.-KB/s    in 0.003s

2024-10-27 18:17:02 (5.52 MB/s) - ‘Data.zip.1’ saved [16727/16727]

Archive:  /content/Data.zip
replace Data/Students_info_0.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,1,female,group C,some college,standard,completed,group1,69,90,88
2,2,female,group B,master's degree,standard,none,group1,90,95,93
3,3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...,...
995,995,female,group E,master's degree,standard,completed,group10,88,99,95
996,996,male,group C,high school,free/reduced,none,group10,62,55,55
997,997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,998,female,group D,some college,standard,completed,group10,68,78,77
999,999,female,group D,some college,free/reduced,none,group10,77,86,86

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [ ]:
df2 = df.drop(columns=['index'])

df2.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [ ]:
df2.shape

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [ ]:
df2.dtypes.value_counts() #хочу узнать конкретный тип данных у числовых столбцов

object    6
int64     3
Name: count, dtype: int64

In [ ]:
df3 = df2.select_dtypes(include='int64') #создаю таблицу, состоящую только из числовых столбцов

print(df3.min())
print(df3.max())
print(df3.mean())
print(df3.std())

math score        0
reading score    17
writing score    10
dtype: int64
math score       100
reading score    100
writing score    100
dtype: int64
math score       66.089
reading score    69.169
writing score    68.054
dtype: float64
math score       15.163080
reading score    14.600192
writing score    15.195657
dtype: float64

**ИЛИ**

In [ ]:
df2.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [ ]:
print(f"Количество пропущенных значений = {df2.isnull().sum().sum()}")

Количество пропущенных значений = 0

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [ ]:
df2[['math score', 'reading score', 'writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [ ]:
#df2.groupby(['test preparation course']).mean()

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [ ]:
df2['lunch'].unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [ ]:
df2.rename(columns={'parental level of education': 'education', 'test preparation course': 'test preparation'})

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,group10,88,99,95
996,male,group C,high school,free/reduced,none,group10,62,55,55
997,female,group C,high school,free/reduced,completed,group10,59,71,65
998,female,group D,some college,standard,completed,group10,68,78,77
999,female,group D,some college,free/reduced,none,group10,77,86,86

**Зафиксируем минимальный балл для сдачи экзамена**

In [ ]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [ ]:
import numpy as np

print(f"Доля студентов, которая сдала экзамен по математике = {np.sum(df2['math score'] >= passmark)/len(df2)}")

print(f"Доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике = {np.sum((df2['test preparation course'] == 'completed') & (df2['math score'] >= passmark))/len(df2)}")

print(f"Доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике = {np.sum((df2['test preparation course'] == 'none') & (df2['math score'] < passmark) & (df2['gender'] == 'female'))/len(df2)}")

Доля студентов, которая сдала экзамен по математике = 0.865
Доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике = 0.33
Доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике = 0.07

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [ ]:
#средний балл за экзамен по чтению для каждой этнической группы
%%time

df2.groupby('race/ethnicity')['reading score'].mean()

CPU times: user 1.81 ms, sys: 0 ns, total: 1.81 ms
Wall time: 4.88 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [ ]:
#минимальный балл за экзамен по письму для каждого уровня образования
%%time

df2.groupby('parental level of education')['writing score'].apply(min)

CPU times: user 4.07 ms, sys: 3 µs, total: 4.07 ms
Wall time: 7.7 ms

<timed eval>:1: FutureWarning: The provided callable <built-in function min> is currently using np.minimum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.minimum.reduce instead.

parental level of education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [ ]:
#средний балл за экзамен по чтению для каждой этнической группы

df2['race/ethnicity'].unique()

array(['group B', 'group C', 'group A', 'group D', 'group E'],
      dtype=object)

In [ ]:
%%time

group_A = []
group_B = []
group_C = []
group_D = []
group_E = []

for i in range(len(df2)):
  if df2.loc[i,'race/ethnicity'] == 'group A':
    group_A.append(df2.loc[i, 'reading score'])

  elif df2.loc[i,'race/ethnicity'] == 'group B':
    group_B.append(df2.loc[i, 'reading score'])

  elif df2.loc[i,'race/ethnicity'] == 'group C':
    group_C.append(df2.loc[i, 'reading score'])

  elif df2.loc[i,'race/ethnicity'] == 'group D':
    group_D.append(df2.loc[i, 'reading score'])

  elif df2.loc[i,'race/ethnicity'] == 'group E':
    group_E.append(df2.loc[i, 'reading score'])


sum_A = 0
for ind in range(len(group_A)):
  sum_A += group_A[ind]
print(f"group A {(sum_A/len(group_A)):.6f}")

sum_B = 0
for ind in range(len(group_B)):
  sum_B += group_B[ind]
print(f"group B {(sum_B/len(group_B)):.6f}")

sum_C = 0
for ind in range(len(group_C)):
  sum_C += group_C[ind]
print(f"group C {(sum_C/len(group_C)):.6f}")

sum_D = 0
for ind in range(len(group_D)):
  sum_D += group_D[ind]
print(f"group D {(sum_D/len(group_D)):.6f}")

sum_E = 0
for ind in range(len(group_E)):
  sum_E += group_E[ind]
print(f"group E {(sum_E/len(group_E)):.6f}")

group A 64.674157
group B 67.352632
group C 69.103448
group D 70.030534
group E 73.028571
CPU times: user 67.5 ms, sys: 798 µs, total: 68.3 ms
Wall time: 82.7 ms

Вывод: время работы циклов примерно в 22 раза дольше времени работы groupby.

In [ ]:
#минимальный балл за экзамен по письму для каждого уровня образования

df2['parental level of education'].unique()

array(["bachelor's degree", 'some college', "master's degree",
       "associate's degree", 'high school', 'some high school'],
      dtype=object)

In [ ]:
%%time

associates_degree = []
bachelors_degree  = []
high_school = []
masters_degree  = []
some_college = []
some_high_school = []


for i in range(len(df2)):
  if df2.loc[i,'parental level of education'] == "associate's degree":
    associates_degree.append(df2.loc[i, 'writing score'])

  elif df2.loc[i,'parental level of education'] == "bachelor's degree":
    bachelors_degree.append(df2.loc[i, 'writing score'])

  elif df2.loc[i,'parental level of education'] == 'high school':
    high_school.append(df2.loc[i, 'writing score'])

  elif df2.loc[i,'parental level of education'] == "master's degree":
    masters_degree.append(df2.loc[i, 'writing score'])

  elif df2.loc[i,'parental level of education'] == 'some college':
    some_college.append(df2.loc[i, 'writing score'])

  elif df2.loc[i,'parental level of education'] == 'some high school':
    some_high_school.append(df2.loc[i, 'writing score'])


print(f"associate's degree {min(associates_degree)}")
print(f"bachelor's degree {min(bachelors_degree)}")
print(f"high school {min(high_school)}")
print(f"master's degree {min(masters_degree)}")
print(f"some college {min(some_college)}")
print(f"some high school {min(some_high_school)}")

associate's degree 35
bachelor's degree 38
high school 15
master's degree 46
some college 19
some high school 10
CPU times: user 72.7 ms, sys: 0 ns, total: 72.7 ms
Wall time: 99.9 ms

Вывод: время работы циклов примерно в 7 раз дольше времени работы groupby.

#### Задание 13. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [ ]:
#математика

def sortt(score):
  if score < passmark:
    return 'F'
  else:
    return 'P'

df['Math_PassStatus'] = df['math score'].apply(sortt)

print(f"Количество студентов, сдавшие экзамен по математике = {np.sum(df['Math_PassStatus'] == 'P')}")
print(f"Количество студентов, не сдавшие экзамен по математике = {np.sum(df['Math_PassStatus'] == 'F')}")

Количество студентов, сдавшие экзамен по математике = 865
Количество студентов, не сдавшие экзамен по математике = 135

In [ ]:
#чтение

def sortt(score):
  if score < passmark:
    return 'F'
  else:
    return 'P'

df['Read_PassStatus'] = df['reading score'].apply(sortt)

print(f"Количество студентов, сдавшие экзамен по чтению = {np.sum(df['Read_PassStatus'] == 'P')}")
print(f"Количество студентов, не сдавшие экзамен по чтению = {np.sum(df['Read_PassStatus'] == 'F')}")

Количество студентов, сдавшие экзамен по чтению = 910
Количество студентов, не сдавшие экзамен по чтению = 90

In [ ]:
#письмо

def sortt(score):
  if score < passmark:
    return 'F'
  else:
    return 'P'

df['Write_PassStatus'] = df['writing score'].apply(sortt)

print(f"Количество студентов, сдавшие экзамен по письму = {np.sum(df['Write_PassStatus'] == 'P')}")
print(f"Количество студентов, не сдавшие экзамен по письму = {np.sum(df['Write_PassStatus'] == 'F')}")

Количество студентов, сдавшие экзамен по письму = 886
Количество студентов, не сдавшие экзамен по письму = 114

#### Задание 14. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [ ]:
import numpy as np

def select(ind):
  if ind['math score'] >= passmark and ind['reading score'] >= passmark and ind['writing score'] >= passmark:
    return 'P'
  else:
    return 'F'

df['OverAll_PassStatus'] = df.apply(select, axis = 1)

print(f"Количество студентов, которые сдали все экзамены = {np.sum(df['OverAll_PassStatus'] == 'P')}")

Количество студентов, которые сдали все экзамены = 812

#### Задание 15. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [ ]:
import numpy as np

def GetGrade(average_mark):
    if average_mark > 90:
      return 'A'
    elif 90 >= average_mark > 80:
      return 'B'
    elif 80 >= average_mark > 70:
      return 'C'
    elif 70 >= average_mark > 60:
      return 'D'
    elif 60 >= average_mark > 50:
      return 'E'
    else:
      return 'F (Fail)'


for i in range(len(df)):
  df.loc[i, 'Grade'] = np.mean([(df.loc[i, 'math score']), (df.loc[i, 'reading score']), (df.loc[i, 'writing score'])])

df['Grade'] = df['Grade'].apply(GetGrade)

print(f"Количество студентов, получившие оценку A = {np.sum(df['Grade'] == 'A')}")
print(f"Количество студентов, получившие оценку B = {np.sum(df['Grade'] == 'B')}")
print(f"Количество студентов, получившие оценку C = {np.sum(df['Grade'] == 'C')}")
print(f"Количество студентов, получившие оценку D = {np.sum(df['Grade'] == 'D')}")
print(f"Количество студентов, получившие оценку E = {np.sum(df['Grade'] == 'E')}")
print(f"Количество студентов, получившие оценку F (Fail) = {np.sum(df['Grade'] == 'F (Fail)')}")

Количество студентов, получившие оценку A = 50
Количество студентов, получившие оценку B = 144
Количество студентов, получившие оценку C = 253
Количество студентов, получившие оценку D = 260
Количество студентов, получившие оценку E = 184
Количество студентов, получившие оценку F (Fail) = 109